html{
	font-size: 62.5%;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 1.6rem;
	background: url('../images/bg.png');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a{ text-decoration: none; }

.contenedor{
	max-width: 700px;
	width: 90%;
	margin: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.tarjeta{
	background: #fff;
	margin: 4rem 0;
	border-radius: .5rem;
	overflow: hidden;
	z-index: 100;
}

/******************/
/*--SLIDER-BANER--*/
/******************/

.slider_banner{
	overflow: hidden;
	z-index: 1000;
	position: relative;
}

.slider_banner .banner{
	position: relative;
	width: 100%;
}

.slider_banner .banner img{
	vertical-align: top;
	width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
}

.slider_banner .flecha-banner{
	font-size: 3.5rem;
	line-height: 3.5rem;
	color: rgba(0, 0, 0, .2);
	position: absolute;
	top: 50%;
	z-index: 1100;
}

.slider_banner .flecha-banner:hover{
	color: rgba(0, 0, 0, .5);

}

.slider_banner .anterior{
	left: 2rem;
}

.slider_banner .siguiente{
	right: 2rem;
}